WCF_Tutorial_GIT/Client/Service References/StockService/StockService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EssentialWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EssentialWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Price">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentPrice" type="xs:double" />
      <xs:element minOccurs="0" name="CurrentTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="tns:Price" />
  <xs:complexType name="StockPrice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Price">
        <xs:sequence>
          <xs:element minOccurs="0" name="DailyChange" type="xs:double" />
          <xs:element minOccurs="0" name="DailyWolume" type="xs:long" />
          <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockPrice" nillable="true" type="tns:StockPrice" />
  <xs:complexType name="MetalPrice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Price">
        <xs:sequence>
          <xs:element minOccurs="0" name="Metal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quality" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MetalPrice" nillable="true" type="tns:MetalPrice" />
</xs:schema>