WCF_Tutorial_GIT/Client/Service References/StockService/StockService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="EssentialWCF" elementFormDefault="qualified" targetNamespace="EssentialWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/StockService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EssentialWCF" />
  <xs:element name="GetPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EssentialWCF" minOccurs="0" name="GetPriceResult" nillable="true" type="q1:Price" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>