WCF_Tutorial_GIT/SecurityServiceClient/Service References/EchoClaims/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EchoClaims" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="tcpIEchoClaims_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEchoClaims_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IEchoClaims_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoClaims_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IEchoClaims_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoClaims_SendDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDataSet" />
  </wsdl:message>
  <wsdl:message name="IEchoClaims_SendDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoClaims_TestFault_InputMessage">
    <wsdl:part name="parameters" element="tns:TestFault" />
  </wsdl:message>
  <wsdl:message name="IEchoClaims_TestFault_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestFaultResponse" />
  </wsdl:message>
  <wsdl:message name="IEchoClaims_TestFault_DivideByZeroExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:DivideByZeroException" />
  </wsdl:message>
  <wsdl:portType name="IEchoClaims">
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoClaims/Echo" message="tns:IEchoClaims_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoClaims/EchoResponse" message="tns:IEchoClaims_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoClaims/Test" message="tns:IEchoClaims_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoClaims/TestResponse" message="tns:IEchoClaims_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendDataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoClaims/SendDataSet" message="tns:IEchoClaims_SendDataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoClaims/SendDataSetResponse" message="tns:IEchoClaims_SendDataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestFault">
      <wsdl:input wsaw:Action="http://tempuri.org/IEchoClaims/TestFault" message="tns:IEchoClaims_TestFault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEchoClaims/TestFaultResponse" message="tns:IEchoClaims_TestFault_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEchoClaims/TestFaultDivideByZeroExceptionFault" name="DivideByZeroExceptionFault" message="tns:IEchoClaims_TestFault_DivideByZeroExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tcpIEchoClaims" type="tns:IEchoClaims">
    <wsp:PolicyReference URI="#tcpIEchoClaims_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Echo">
      <soap12:operation soapAction="http://tempuri.org/IEchoClaims/Echo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/IEchoClaims/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDataSet">
      <soap12:operation soapAction="http://tempuri.org/IEchoClaims/SendDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestFault">
      <soap12:operation soapAction="http://tempuri.org/IEchoClaims/TestFault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DivideByZeroExceptionFault">
        <soap12:fault use="literal" name="DivideByZeroExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="httpIEchoClaims" type="tns:IEchoClaims">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://tempuri.org/IEchoClaims/Echo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IEchoClaims/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDataSet">
      <soap:operation soapAction="http://tempuri.org/IEchoClaims/SendDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestFault">
      <soap:operation soapAction="http://tempuri.org/IEchoClaims/TestFault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DivideByZeroExceptionFault">
        <soap:fault use="literal" name="DivideByZeroExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoClaims">
    <wsdl:port name="tcpIEchoClaims" binding="tns:tcpIEchoClaims">
      <soap12:address location="net.tcp://localhost:12345/Claims" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:12345/Claims</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>y.kalinichenko@office.lo</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="httpIEchoClaims" binding="tns:httpIEchoClaims">
      <soap:address location="http://localhost/Claims" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>